<% include partials/header %>
        <h1>Syntax difference between languages</h1>

        <form action="/api" method="GET" accept-charset="utf-8">
            <input type="text" name="language1"/>
            <input type="text" name="language2"/>
            <input type="submit"/>            
        </form>
<% include partials/footer %>
